{% extends "base.html" %}
{% load i18n %}

{% load widget_tweaks %}
{% load staticfiles %}
{% load extra_order %}

{% block slectSidebar %}

	<div class="panel panel-default">
		<a href="{% url 'lista_termopt' %}" class="list-group-item" >
		  <span class="glyphicon glyphicon-cog"></span> Termos em Português
		</a>
		<a href="{% url 'lista_solicitacao' %}" class="list-group-item" >
		  <span class="glyphicon glyphicon-cog"></span> Solicitações
		</a>
		<a href="{% url 'lista_termolx' %}" class="list-group-item" >
		  <span class="glyphicon glyphicon-cog"></span> Termos nas Ling. Nacionais
		</a>
		<a href="{% url 'lista_certificado' %}" class="list-group-item" >
		  <span class="glyphicon glyphicon-cog"></span> Certificações
		</a>
	</div>

{% endblock %}

{% block ContentPlaceHolder %}

	{% if messages %}
		{% for message in messages %}
		<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
	        <a href="#" class="close" data-dismiss="alert">&times;</a>
		    <p>{{ message }}</p>
	    </div>
	    {% endfor %}
	{% endif %}

	<div class="panel panel-default">
		<div class="panel-heading">
    		<h3 class="panel-title">
    			Bem-vindo ao módulo +TERMOS
    		</h3>
  		</div>
		<div class="panel-body">
			Este módulo automatiza o processo da criação de termos informático
			nas Línguas Nacionais, tendo como base inicial o termo em Português.
			Ajude a sociedade a enriquecer os vacábulos técnicos informáticos na
			língua nacional em que possues maior fluência. Solicite a criação e 
			sugere termos técnicos na língua nacional de teu domínio.
		</div>
	</div>
{% endblock %}

