{% extends "base.html" %}


{% load widget_tweaks %}
{% load staticfiles %}

{% block stylesheets %}
		{{ block.super }}
		<link rel="stylesheet" type="text/css" href="{% static "css/mct/mct_create.css" %}">
		
{% endblock stylesheets %}


{% block title %}
	{% if form.instance.pk == None %}
		Criar Termo
	{% else %}
		Editar Termo
	{% endif %}
{% endblock title %}

{% block nome_modulo %} Módulo de Criação de Termo {% endblock %}



{% block SelectMenu %}
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li><a href="solicitacao">Solicitacoes</a></li>
    <li><a href="termos">Termos</a></li>
    <li class="active"><a href="certificacao">Certificacao</a></li>
  </ul>
</div>
{% endblock %}


{% block titulo_pagina %} Certificar Novos Termos {% endblock %}

{% block ContentPlaceHolder %}

<hr>

<form method="POST">
	{% csrf_token %}

		<div class="form-line error-line">
				<div class="form-element">
					<ul class="form-errors">
						{% for error in form.termokk.errors %}
							<li>{{error}}</li>
						{% endfor %}
					</ul>
				</div>
				<div class="form-element">
					<ul class="form-errors">
						{% for error in form.certificado.errors %}
							<li>{{error}}</li>
						{% endfor %}
					</ul>
				</div>
			</div>

			<div class="form-line">
				<div class="form-element">
					<p class="form-label">{{form.termokk.label}}</p>
					{{form.termokk|add_class:"form-input"}}	
				</div>
				<div class="form-element">
					<p class="form-label">{{form.certificado.label}}</p>
					{{form.certificado|add_class:"form-input"}}
				</div>
			</div>
			
			<div class="form-line error-line">
				<div class="form-element">
					<ul class="form-errors">
						{% for error in form.status_certificado.errors %}
							<li>{{error}}</li>
						{% endfor %}
					</ul>
				</div>
				<div class="form-element">
					<ul class="form-errors">
						{% for error in form.observacao.errors %}
							<li>{{error}}</li>
						{% endfor %}
					</ul>
				</div>
				<div class="form-element">
					<ul class="form-errors">
						{% for error in form.data_cert.errors %}
							<li>{{error}}</li>
						{% endfor %}
					</ul>
				</div>
			</div>

			<div class="form-line">
				<div class="form-element">
					<p class="form-label">{{form.status_certificado.label}}</p>
					{{form.status_certificado|add_class:"form-input"}}
				</div>
				<div class="form-element">
					<p class="form-label">{{form.observacao.label}}</p>
					{{form.observacao|add_class:"form-input"}}
				</div>
				<div class="form-element">
					<p class="form-label">{{form.data_cert.label}}</p>
					{{form.data_cert|add_class:"form-input"}}
				</div>
			</div>


	<br />

	<div class="form-btn-holder">
		{% if form.instance.pk == None %}
			<!-- botão criar -->
			<input class="btn btn-lg btn-success form-btn" type="submit" value="Certificar">
		{% else %}
			<!-- botão editar -->
			<input class="btn btn-lg btn-success form-btn" type="submit" value="Salvar">
		{% endif %}
	</div>	

</form>


{% endblock %}