{% extends "base.html" %}
{% load i18n %}

{% block selectNavbar %}
	<li><a href="{% url 'default' %}">Início</a></li>
	<li><a href="/dicionario/">Dicionario</a></li>
	<li class="active"><a href="/maistermos/">+Termos</a></li>
	<li><a href="/ensino/">Ensino</a></li>
{% endblock %}

{% block slectSidebar %}
	<div class="panel panel-default">
		<a href="{% url 'lista_termopt' %}" class="list-group-item active" >
		  <span class="glyphicon glyphicon-cog"></span> Termos em Português
		</a>
		<a href="{% url 'lista_solicitacao' %}" class="list-group-item" >
		  <span class="glyphicon glyphicon-cog"></span> Solicitações
		</a>
		<a href="{% url 'lista_termolx' %}" class="list-group-item" >
		  <span class="glyphicon glyphicon-cog"></span> Termos nas Ling. Nacionais
		</a>
		<a href="{% url 'lista_certificado' %}" class="list-group-item" >
		  <span class="glyphicon glyphicon-cog"></span> Certificações
		</a>
	</div>
{% endblock %}

{% block ContentPlaceHolder %}
	
	<!-- Barra de busca -->
	<div class="well well-sm">
		<form method="POST" action="/maistermos/termopt/lista/" class="horizontal" >
		{%csrf_token%}
			<div class="input-group">
				<input name="q" type="text" placeholder="Buscar" class="form-control">
				<div class="input-group-btn">
					<select name="filtro_busca" class="btn btn-default btn-sm" type="button" style="height:34px; width:170px"> 
					    {% for traducao_opcao in traducao_opcao_list %}
	            			<option value="{{traducao_opcao}}">{{traducao_opcao}}</option>
	            		{% endfor %}
					</select> 
				    <button type="submit" class="btn btn-default btn-sm" style="height:34px;">
						<span class="glyphicon glyphicon-search"></span>
					</button>
			  	</div>
			</div>
		</form>
	</div>

	<!-- Mensagens -->
	{% if messages %}
		{% for message in messages %}
		<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
	        <a href="#" class="close" data-dismiss="alert">&times;</a>
		    <p>{{ message }}</p>
	    </div>
	    {% endfor %}
	{% endif %}

	<div class="panel panel-default">
        {% if perms.maistermos.add_termopt %}
        <div class="panel-body">
        	<a type="button" class="btn btn-sm btn-success pull-left" href="{% url 'cadastra_termopt' %}" 
	    	data-toggle="tooltip" data-placement="top" title="Detalhes">
	            Cadastrar termos português <span class="glyphicon glyphicon-plus"></span>
	        </a>
        </div>
        {% endif %}
        <div class="panel-heading">
        	{{titulo_lista}}
        </div>
        <div class="panel-body">
			{% if termospt_list %}
			<table class="table">
				<thead>
					<tr>
					    <th>Termo</th>
					    <th>Conceito principal</th>
					    <th>Cadastrante</th>
					    <th></th>
				  	</tr>
			   	</thead>
			   	<tbody>
			  		{% for termopt in termospt_list %}
			  		<tr>
					    <td> {{termopt.termo}} </td>
					    <td> {{termopt.conceito}} </td>
					    <td> {{termopt.usuario_insere_termopt.username}} </td>
					    <td><!-- detalhes: Aparece só para perfil -->
					    	<a type="button" class="btn btn-xs btn-info" href="{% url 'detalhe_termopt' termopt.id %}" 
					    	data-toggle="tooltip" data-placement="top" title="{% if perms.maistermos.add_termopt %}
					    		Gerir
				    		{% else %}
				    			Detalhes
					    	{% endif %}">
					    	{% if perms.maistermos.add_termopt %}
					    		Gerir
				    		{% else %}
				    			Detalhes
					    	{% endif %}
			                     <span class="glyphicon glyphicon-th-list"></span>
				            </a>
					    </td>
				  	</tr>
			  		{% endfor %}
		  		</tbody>
			</table>
				<!-- PAGINAÇÃO -->
			    <ul class="pagination">
			    {% if termospt_list.has_previous %}
			        <li><a href="?page={{ termospt_list.previous_page_number }}{{ getvars }}{{ hashtag }}" class="prev">&lsaquo;&lsaquo;</a></li>
			    {% else %}
			        <li class="disabled prev"><a href="#">&lsaquo;&lsaquo;</a></li>
			    {% endif %}

			    {% for i in paginator.page_range %}
		            <li {% if termospt_list.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
		        {% endfor %}

			    {% if termospt_list.has_next %}
			        <li><a href="?page={{ termospt_list.next_page_number }}{{ getvars }}{{ hashtag }}" class="next">&rsaquo;&rsaquo;</a></li>
			    {% else %}
			        <li class="disabled next"><a href="#">&rsaquo;&rsaquo;</a></li>
			    {% endif %}
			    </ul>

			{% else %}
				<p>Nenhum resultado</p>
			{% endif %}
        </div>
    </div>

{% endblock %}


