{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
	Remover Solicitação
{% endblock %}



{% block content %}
	
	<h1>Remover Solicitação</h1>
	<hr>

	<p>Tem certeza que deseja remover esta Solicitação ?</p>

	<div class="object-box">
		<div class="field-line">
			<div class="field single-child">	
				<p class="field-label">Id</p>
				{{object.id}}
			</div>
				
		</div>
		<div class="field-line">
			<div class="field">	
				<p class="field-label">Termo em Português</p>
				{{object.termopt}}
			</div>
			<div class="field">
				<p class="field-label">Conceito em Português</p>
				{{object.conceitopt}}
			</div>
		</div>
		<div class="field-line">
			<div class="field">	
				<p class="field-label">Termo em Kikongo</p>
				{{object.termokk}}
			</div>
			<div class="field">
				<p class="field-label">Conceito em Kikongo</p>
				{{object.conceitokk}}
			</div>
		</div>
		

	</div>	

	<br>

	<form method="POST">
		{% csrf_token %}
		<input type="submit" value="Remover" class="btn btn-lg btn-danger">

	</form>


{% endblock %}