{% extends "base.html" %}
{% load i18n %}

{% load widget_tweaks %}
{% load staticfiles %}
{% load extra_order %}

{% block selectNavbar %}
	<li><a href="{% url 'default' %}">Início</a></li>
	<li><a href="/dicionario/">Dicionario</a></li>
	<li class="active"><a href="/maistermos/">+Termos</a></li>
	<li><a href="/ensino/">Ensino</a></li>
{% endblock %}

{% block slectSidebar %}
  <li><a href="{% url 'lista_solicitacao' %}">Solicitações</a></li>
  <li><a href="{% url 'lista_termo' %}">Propostas</a></li>
  <li><a href="{% url 'lista_certificacao' %}">Certificados</a></li>
{% endblock %}

{% block ContentPlaceHolder %}
	<h2>+Termos</h2>

	<div class="panel panel-success">
		<div class="panel-heading">
    		<h3 class="panel-title">Deseja solicitar a criação de um termo?</h3>
  		</div>
		<div class="panel-body">
		
		<form method="POST" action="/maistermos/" class="horizontal" >
			{%csrf_token%}
			<div class="form-body">
				{% for field in create_solicitacao_form %}
					<div class="form-group">
						</br>
						<!--:before-->
						<label class="col-md-3 control-label">
							{{field.label_tag}}
						</label>
						<div class="col-md-3">
							{{field|addcss:"form-control"}}
		                </div>
		            	</br>
		                <!--:after-->
					</div>	
				{%endfor%}	
			</div>
			<div class="form-actions fluid">
		     	<div class="col-md-offset-3 col-md-9">
		         	<button type="submit" class="btn  btn-sucess">Solicitar</button>                              
		    	</div>
		    </div>
		</form>	

		</div>
		<div class="panel-footer">Aqui escreveremos alguma coisa
		</div>
	</div>

	<p>Este modulo do sistema possui os seguintes serviços:</p>
	<p>Solicitação da criação de termos: O usuário com perfil "Professor" pode solicitar que seja criado um termo em kikongo para um conceito cujo termo em português já é conhecido.</p>
	<p>Proposta de termos: O usuário com perfil "Linguista" pode propor um novo termo em kikongo.</p>
	<p>Certificação de termos: O usuário com perfil "Certificador" avalia as propostas de termos em kikongo para atender as solicitações dos "professores" e, em caso de ser aprovado, emite o certificado.</p>
	<p>Para começar a utilizar disponha das funcionalidades no menu lateral esquerdo</p>
	<p>Os ultimos termos certificados foram: "lista de termos"</p>
{% endblock %}

