{% extends "base.html" %}
{% load i18n %}

{% block selectNavbar %}
  <li><a href="{% url 'default' %}">Início</a></li>
  <li><a href="/dicionario/">Dicionario</a></li>
  <li class="active"><a href="/maistermos/">+Termos</a></li>
  <li><a href="/ensino/">Ensino</a></li>
{% endblock %}

{% block slectSidebar %}

{% endblock %}

{% block ContentPlaceHolder %}


 {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action="" method="post">
   {%csrf_token%}
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>

{% endblock %}

            

 