<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{STATIC_URL|default:"/static/"}}ico/favicon.ico">

    <title>Nzayilu-Mbandu</title>

    <!-- Bootstrap core CSS -->
    <link href="{{STATIC_URL|default:"/static/"}}css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{STATIC_URL|default:"/static/"}}css/carousel.css" rel="stylesheet">
    <link href="{{STATIC_URL|default:"/static/"}}css/signin.css" rel="stylesheet">
  </head>

<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'default' %}"><span><img src="{{STATIC_URL|default:"/static/"}}img/logo.png" style="height:42px; margin-top:-10px;" alt="LogoBar"></span></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'default' %}">Início</a></li>
                <li><a href="{% url 'consultar_termo' %}">Dicionario</a></li>
                {% if user.is_authenticated %}
                  <li><a href="{% url 'mais_termos' %}">+Termos</a></li>
                  <li><a href="{% url 'ensino' %}">Ensino</a></li>
                {% endif %}
              </ul>
              <ul class="nav navbar-nav navbar-right" style="margin-right:20px;">
                {% if user.is_authenticated %}
                  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ user.username }}<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Meu perfil</a></li>
                    <li><a href="#">Configurações da conta</a></li>
                    <li class="divider"></li>
                    <li><a href="/accounts/logout/">Sair</a></li>
                  </ul>
                </li>
                {% else %}
                  <li><a href="/accounts/login/">Entrar</a></li>
                {% endif %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ajuda <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Manual de Usuário</a></li>
                    <li><a href="#">Another action</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Como foi feito?</li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">
          <div class="container">
            <div class="carousel-caption" >
              <h1>Muito mais do que um simples dicionario!</h1>
              <p>Nzayilu-Mbandu é uma ferramenta de apoio ao ensino e aprendizado da informática nas linguas nacionais angolanas. A tradução é só um dos serviços.</p>
              <p><a class="btn btn-primary" href="#" role="button">Conheça nossos serviços &raquo;</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption" >
              <h1>Ensine nas linguas nativas</h1>
              <p>Prepare as suas aulas e utilizando o modulo Nzayilu-Mbandu de ensino. Você poderá solicitar a criação de novos termos e acompanhar a evolução dos seus alunos.</p>
              <p><a class="btn btn-primary" href="#" role="button">Conheça a plataforma de ensino</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Aprenda na sua lingua mãe</h1>
              <p>Cadastre-se no sistema para começar a aprender conceitos de informática e engenharia de software na sua lingua mãe.</p>
              <p><a class="btn btn-primary" href="#" role="button">Conheça as ferramentas de aprendizado</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Ajude-nos criando novos termos</h1>
              <p>Se você é um linguista especialista em alguma lingua nacional da angola, ou tem o titulo de soba, então pode sugerir novos termos ainda não existentes </p>
              <p><a class="btn btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"><img src="{{STATIC_URL|default:"/static/"}}img/mask_esq.png" style="height:200px; margin-top:-80px;" alt="Smiley face"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"><img src="{{STATIC_URL|default:"/static/"}}img/mask_der.png" style="height:200px; margin-top:-80px; margin-left:-60px;" alt="Smiley face"></span></a>
    </div><!-- /.carousel -->

    
    <!-- Barra de Busca 
    ================================================== -->
      <div class="jumbotron" style="background-image:url({{STATIC_URL|default:"/static/"}}img/fundo_mask.png); background-size:100%;
background-repeat:no-repeat;">
          <img src="{{STATIC_URL|default:"/static/"}}img/logo_name.png" alt="Smiley face" style="margin-top:20px; margin-bottom: 10px; margin-left: 25px;">
          {% block ContentPlaceHolder %}
          <div style="width:40%; margin:auto; margin-bottom: 10px">
            <form method="POST" action="/dicionario/" class="horizontal" >
            {%csrf_token%}
              <div class="input-group">
                <input name="q" type="text" placeholder="Buscar" class="form-control">
                <div class="input-group-btn">
                  <select name="filtro_busca" class="btn btn-default btn-sm" type="button" style="height:34px; width:160px"> 
                      {% for traducao_opcao in traducao_opcao_list %}
                            <option value="{{traducao_opcao}}">{{traducao_opcao}}</option>
                          {% endfor %}
                  </select> 
                    <button type="submit" class="btn btn-default btn-sm" style="height:34px;">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                  </div>
              </div>
            </form>
          </div>
          {% endblock %} 
      </div>
    
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Novos termos!</h2>
          <p>Confira a lista dos novos termos que foram criados nas linguas nacionais angolanas.</p>
          <p><a class="btn btn-default" href="#" role="button">Ver detalhes &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>Exemplo de busca</h2>
          <p>Não sabe como utilizar o dicionário? Entre aqui e veja exemplos de como consultar.</p>
          <p><a class="btn btn-default" href="#" role="button">Ver detalhes &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>Palavra do dia</h2>
          <p>Já aprendeu alguma palavra nova o dia de hoje? Aumente o seu vocabulário a cada dia.</p>
          <p><a class="btn btn-default" href="#" role="button">Ver detalhes &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <!-- FOOTER -->
      <footer>
        <hr>
        <div class="mastfoot" >
          <div class="inner" >
            <p> <a href="http://getbootstrap.com">Quem Somos?</a>  |  <a href="https://twitter.com/mdo">Politicas de uso</a>  |  <a href="http://getbootstrap.com">Entre em contato</a>  |  &copy; NM-Company 2014.</p>
            <hr>
          </div>
        </div>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{STATIC_URL|default:"/static/"}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL|default:"/static/"}}js/docs.min.js"></script>
  </body>
</html>
