<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{STATIC_URL|default:"/static/"}}ico/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="{{STATIC_URL|default:"/static/"}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL|default:"/static/"}}css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="{{STATIC_URL|default:"/static/"}}css/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{STATIC_URL|default:"/static/"}}css/offcanvas.css" rel="stylesheet">
    <title>{% block title %} Nzayilu-Mbandu {% endblock %}</title>
  </head>
  <body>
    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><span><img src="{{STATIC_URL|default:"/static/"}}img/logo.png" style="height:42px; margin-top:-10px;" alt="LogoBar"></span></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                {% block selectNavbar %}
                  <li><a href="{% url 'default' %}">Início</a></li>
                  <li><a href="{% url 'consultar_termo' %}">Dicionario</a></li>
                  <li><a href="{% url 'mais_termos' %}">+Termos</a></li>
                  <li class="active"><a href="{% url 'ensino' %}">Ensino</a></li>
                {% endblock %}
              </ul>

              <ul class="nav navbar-nav navbar-right" style="margin-right:20px;">
                {% if user.is_authenticated %}
                  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ user.username }}<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Meu perfil</a></li>
                    <li><a href="#">Configurações da conta</a></li>
                    <li class="divider"></li>
                    <li><a href="/accounts/logout/">Sair</a></li>
                  </ul>
                </li>
                {% else %}
                  <li><a href="/accounts/login/">Entrar</a></li>
                {% endif %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ajuda <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Manual de Usuário</a></li>
                    <li><a href="#">Another action</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Como foi feito?</li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% block carousel %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <div class="carousel-inner">
        <div class="item active">
          
          <div class="container">
            <div class="carousel-caption" style="font-family:MavenProLight;" >
              <h1><b>N</b>zayilu<b>M</b>bandu</h1>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control"><span><img src="{{STATIC_URL|default:"/static/"}}img/mask_esq.png" style="height:250px; margin-top:0px;" alt="Smiley face"></span></a>
      <a class="right carousel-control"><span><img src="{{STATIC_URL|default:"/static/"}}img/mask_der.png" style="height:250px; margin-top:0px; margin-left:0px;" alt="Smiley face"></span></a>
    </div><!-- /.carousel -->
    {% endblock %}

    <!-- Conteudo da pagina -->
    <div class="container" style="margin-top:5px;">
      
      <!-- Barra de Busca 
    ================================================== -->
      <div class="jumbotron" style="background-image:url({{STATIC_URL|default:"/static/"}}img/fundo_mask.png); background-size:100%;
background-repeat:no-repeat; text-align:center;">
          <img src="{{STATIC_URL|default:"/static/"}}img/logo_name.png" alt="Smiley face" style="margin-top:20px; margin-bottom: 10px; margin-left: 25px;">
          {% block ContentPlaceHolder %}
          <div>
            O MODULO DE ENSINO SERÁ DISPONIBILIZADO EM BREVE!!!
          </div>
          {% endblock %} 
      </div>




      <hr>
      <footer>
        <hr>
        <div class="mastfoot" style="width:100%" >
          <div class="inner" >
            <p> <a href="http://getbootstrap.com">Quem Somos?</a>  |  <a href="https://twitter.com/mdo">Politicas de uso</a>  |  <a href="http://getbootstrap.com">Entre em contato</a>  |  &copy; NM-Company 2014.</p>
          </div>
        </div>
        <hr>
      </footer>
    </div><!--/.container-->

    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{STATIC_URL|default:"/static/"}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL|default:"/static/"}}js/offcanvas.js"></script>
    <script src="{{STATIC_URL|default:"/static/"}}js/tooltip.js"></script>

    <script type="text/javascript">
    $(".dropdown-menu li a").click(function(){
      var selText = $(this).text();
      $(this).parents('.input-group-btn').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
    });

    $(".btnRemove").click(function(){
      alert("Você tem certeza que deseja remover o registro?");
    });

    $('.aprova_conceito').click(function(){
    conid = $(this).attr("data-conid");
     $.get('/dicionario/conceito/aprova_adi/', {conceito_id: conid}, function(data){
               $('#cont_apr_'.concat(conid)).html(data);
               $('#but_apr_'.concat(conid)).prop('disabled', true);;
           });
     $.get('/dicionario/conceito/rejeita_rem/', {conceito_id: conid}, function(data){
               $('#cont_rej_'.concat(conid)).html(data);
           });

    });

    $('.rejeita_conceito').click(function(){
    var conid;
    conid = $(this).attr("data-conid");
     $.get('/dicionario/conceito/rejeita_adi/', {conceito_id: conid}, function(data){
               $('#cont_rej_'.concat(conid)).html(data);
               $('#but_rej_'.concat(conid)).prop('disabled', true);;
           });
     $.get('/dicionario/conceito/aprova_rem/', {conceito_id: conid}, function(data){
               $('#cont_apr_'.concat(conid)).html(data);
           });
    });

    </script>

    {% block ReferenciasJavascript %}
    {% endblock %}
  </body>
</html>
