{% extends "base.html" %}
{% load i18n %}

{% block slectSidebar %}
	{% if perms.maistermos %}
	    <a href="{% url 'cadastra_termopt' %}" class="list-group-item" >
		  <span class="glyphicon glyphicon-plus"></span> Cadastrar termos PT
		</a>
		<a href="{% url 'cria_solicitacao' %}" class="list-group-item" >
		  <span class="glyphicon glyphicon-bookmark"></span> Solicitar criação termos LN
		</a>
		<a href="{% url 'lista_termopt' %}" class="list-group-item" >
		  <span class="glyphicon glyphicon-cog"></span> Gerir termos PT
		</a>
		<a href="{% url 'lista_solicitacao' %}" class="list-group-item" >
		  <span class="glyphicon glyphicon-cog"></span> Gerir solicitações
		</a>
		<a href="{% url 'lista_termolx' %}" class="list-group-item active" >
		  <span class="glyphicon glyphicon-cog"></span> Gerir termos LN
		</a>
		<a href="{% url 'lista_certificado' %}" class="list-group-item" >
		  <span class="glyphicon glyphicon-cog"></span> Gerir certificados
		</a>
	{% endif %}
{% endblock %}

{% block ContentPlaceHolder %}
	
	<!-- Barra de busca -->
	<div class="well well-sm">
		<form method="POST" action="/maistermos/termolx/lista/" class="horizontal" >
		{%csrf_token%}
			<div class="input-group">
				<input name="q" type="text" placeholder="Buscar" class="form-control">
				<div class="input-group-btn">
					<select name="filtro_opcao" class="btn btn-default btn-sm" type="button" style="height:34px; width:160px"> 
					    {% for filtro_opcao in filtro_opcao_list %}
	            			<option value="{{filtro_opcao}}">{{filtro_opcao}}</option>
	            		{% endfor %}
					</select> 
			  	</div>
				<div class="input-group-btn">
					<select name="traducao_opcao" class="btn btn-default btn-sm" type="button" style="height:34px; width:160px"> 
					    {% for traducao_opcao in traducao_opcao_list %}
	            			<option value="{{traducao_opcao}}">{{traducao_opcao}}</option>
	            		{% endfor %}
					</select> 
				    <button type="submit" class="btn btn-default btn-sm" style="height:34px;">
						<span class="glyphicon glyphicon-search"></span>
					</button>
			  	</div>
			</div>
		</form>
	</div>

	<!-- Mensagens -->
	{% if messages %}
		{% for message in messages %}
		<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
	        <a href="#" class="close" data-dismiss="alert">&times;</a>
		    <p>{{ message }}</p>
	    </div>
	    {% endfor %}
	{% endif %}

	<div class="panel panel-default">
        <div class="panel-heading">
        	RESULTADO DA BUSCA
        </div>
        <div class="panel-body">
			{% if termoslx_list %}
			<table class="table">
				<thead>
					<tr>
					    <th>Termo lingua nacional</th>
					    <th>Lingua</th>
					    <th>Termo português</th>
					    <th>Criador</th>
					    <th>Estado</th>
					    <th></th>
				  	</tr>
			   	</thead>
			   	<tbody>
			  		{% for termolx in termoslx_list %}
			  		<tr>
					    <td> {{termolx.termo}} </td>
					    <td> {{termolx.linguax}} </td>
					    <td> {{termolx.termoref}} </td>
					    <td> {{termolx.usuario_insere_termolx}} </td>
					    <td> {{termolx.estado}} </td>

					    <td><!-- detalhes: Aparece só para perfil -->
					    	<a type="button" class="btn btn-xs btn-info" href="{% url 'detalhe_termolx' termolx.id %}" 
					    	data-toggle="tooltip" data-placement="top" title="{% if perms.maistermos.add_certificado or termolx.usuario_insere_termolx.username == user.username %}
					    		Gerir
				    		{% else %}
				    			Detalhes
					    	{% endif %}">
			                {% if perms.maistermos.add_certificado or termolx.usuario_insere_termolx.username == user.username %}
					    		Gerir
				    		{% else %}
				    			Detalhes
					    	{% endif %} <span class="glyphicon glyphicon-th-list"></span>
				            </a>
					    </td>
				  	</tr>
			  		{% endfor %}

		  		</tbody>
			</table>
				<!-- PAGINAÇÃO -->
			    <ul class="pagination">
			    {% if termoslx_list.has_previous %}
			        <li><a href="?page={{ termoslx_list.previous_page_number }}{{ getvars }}{{ hashtag }}" class="prev">&lsaquo;&lsaquo;</a></li>
			    {% else %}
			        <li class="disabled prev"><a href="#">&lsaquo;&lsaquo;</a></li>
			    {% endif %}

			    {% for i in paginator.page_range %}
		            <li {% if termoslx_list.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
		        {% endfor %}

			    {% if termoslx_list.has_next %}
			        <li><a href="?page={{ termoslx_list.next_page_number }}{{ getvars }}{{ hashtag }}" class="next">&rsaquo;&rsaquo;</a></li>
			    {% else %}
			        <li class="disabled next"><a href="#">&rsaquo;&rsaquo;</a></li>
			    {% endif %}
			    </ul>

			{% else %}
				<p>Nenhum resultado</p>
			{% endif %}
        </div>
    </div>

{% endblock %}


